$grey255: rgb(255, 255, 255);
$grey250: rgb(250, 250, 250);
$grey245: rgb(245, 245, 245);
$grey240: rgb(240, 240, 240);
$grey100: rgb(100, 100, 100);
$grey75: rgb(75, 75, 75);
$grey50: rgb(50, 50, 50);
$grey25: rgb(25, 25, 25);

html, body {
  margin: 0;
  height: 100%;
  color: $grey25;
}

body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, header, footer, div {
	overflow: hidden;
  margin: 0;
}

div.container-fluid {
  background: white;
  background: -webkit-linear-gradient(left top, white, black);
  background: -o-linear-gradient(bottom right, white, black);
  background: -moz-linear-gradient(bottom right, white, black);
  background: linear-gradient(to bottom right, white, black);
}

header {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background: -moz-linear-gradient(#648880, #293f50);
  background: linear-gradient(#aec7ef, #293f50);
  color: white;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #333;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    padding: 10px;
    text-decoration-style: none;
    text-decoration: none;
    color: white;
    &:hover {
      background-color: #293f50;
    }
  }
  .dropdown {
    padding-left: 5px;
  }
  .city {
    padding-left: 10px;
  }
}